/* Basic resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  header {
    /* background-color: #0066cc; */
    padding: 1rem;
  }

  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .logo {
    width: 100px;
  }
  
  .logo img {
    width: 100%;
  }
  .burger {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    color: black;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-links a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .nav-links a:hover {
    color: #ffcc00;
  }
  
  .div-btn button,
  .btn-login
  {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #fb8e39;
  }

  /* <------------------------------------------------------------------------------> */

  .hero-box{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slider{
    position: relative;
    width: 100%;
    height: 100%;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay{
    position: relative;
    width: 100%;
    height: 100%;
}

.overlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-text{
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 2;
    color: white;
    text-align: center;
    transform: translate(-45% - 45%);
}

.overlay-text h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.overlay-text p{
    font-size: 2rem;
}

/* Buttons Styling */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 3; /* Above the overlay */
  }
  
  /* Position the Previous Button to the Left */
  .slider-btn:nth-of-type(1) {
    left: 20px;
  }
  
  /* Position the Next Button to the Right */
  .slider-btn:nth-of-type(2) {
    right: 20px;
  }
  
  /* Button Hover Effects */
  .slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* <--------------------------------------------------------------------------> */

  /* mid section styles  */
  .main-card{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 200px;

  }

  .main-card-text1{
    display: block;
    justify-content: center;
    align-self: center;

  }

  .main-card-text1 h2{
    font-size: 5rem;
    margin-bottom: 20px;
  }
  .main-card-text1 p{
    font-size: 1.5rem;
    margin-bottom: 20px;
  }


  .main-card-img{
    width: 600px;
  }

  .main-card-img img{
    width: 100%;
  }

  /* <--------------------------------------------------> */

  /* card styles  */
  .middle-section {
    padding: 3rem;
  }

 .middle-section h1{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
 }

 .payment-card{
    display: flex;
    justify-content: space-between;
 }

 .payment{
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),
                0 0.375rem 1.25rem 0 rgba(0,0,0,0.19);
    width: 400px;
    height: 500px;
    text-align: center;
    border-radius: 1rem;
    padding: 4rem;
    margin-top: 10rem;
 }

 .payment-img {
    width: 200px;
 }

 .payment-img img{
    width: 100%;
    margin-bottom: 10px;
 }

 /* footer */

 footer{
    padding: 3rem;
    background-color: rgba(6, 58, 79, .1);
 }

 .footer-div{
   display: flex;
   justify-content: space-between;
 }

 .footer-div h2{
    font-size: 2rem;
    margin-bottom: 20px;

 }
 .footer-div h3{
    font-size: 1rem;
    margin-bottom: 20px;

 }

 .footer-div input{
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 5rem;
    font-size: 1rem;
    background-color: rgba(6, 58, 79, .0588235294);
}





  /* Responsive navbar for smaller screens */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: transparent;
      top: 130px;
      right: 0;
      width: 100%;
      text-align: center;
      z-index: 5;
      
    }
  
    .nav-links.active {
      display: flex;
      
    }
  
    .nav-links li {
      margin: 1rem 0;
      
    }

    
  
    .burger {
      display: block;
    }

    .div-btn{
        display: none;
    }

    .nav-links a {
        color: white;
        font-size: 2rem;
      }

    /* <-------------------------> */
    .overlay-text{
        top: 30%;
        left: 20%;
        
    }

    .overlay-text h1{
        font-size: 1.5rem;
        
    }
    
    .overlay-text p{
        font-size: 1rem;
    }

    .main-card{
        display: block;
        margin-bottom: 0;
       
    }

    .main-card-text1{
        margin-bottom: 20px;
    }

    .main-card-text1 h2{
        font-size: 3rem;

    }
    .main-card-text1 p{
        font-size: 1rem;

    }

    .main-card-img{
        width: 500px;
      }

      .middle-section {
        padding: 5rem;
      }


      .middle-section h1{
        font-size: 2rem;
      }

      .payment-img {
        width: 200px;
     }
    
     .payment-img img{
        width: 100%;
        display: block;
        justify-content: center;
        
        
        
     }

     .payment{
        margin-top: 1rem;
     }

     .payment-card{
        display: block;
        justify-content: center;
     }

     .footer-div{
        display: block;
     }

     .footer-div h2{
        font-size: 1.5rem;
     }
    




}